/* Desenvolva sua estilização aqui ... */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-grey-9);
}

header {
  display: flex;
  width: 100%;
  height: 8rem;
  justify-content: center;
  color: var(--color-grey-1);
  font-size: var(--font-1);
}

.header__itens {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.section__primary {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  border-style: none;
  padding-inline: 0.5rem;

}

.botao-categoria {
  background-color: var(--color-grey-8);
  color: var(--color-grey-2);
  border-style: none;
  font-size: var(--font-3);
  border-radius: 0.2rem;
}

.botao-categoria:hover {
  background-color: var(--color-grey-2);
  color: var(--color-grey-8);

}

.priceText {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

input {
  width: 100%;
  margin-top: 1.5rem;
}


.section__secondary {
  display: flex;
  flex-direction: column;
  width: 70%;margin-top: 1.5rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  /* margin-top: 1.5rem; */
}

.card {
  width: 25rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-grey-8);
}


img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: var(--color-grey-2);
  font-size: var(--font-3);
}

h2 {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: var(--color-grey-1);
  font-family: Inter;
  font-style: normal;
  line-height: normal;
}

span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: var(--font-2);
  /* margin-left: 0.5rem; */
}

.btn-comprar {
  background-color: var(--color-grey-7);
  color: var(--color-grey-2);
  border-style: none;
}

#darkModeButton {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-grey-8);
  color: var(--color-grey-2);
  padding: 0.2rem;
  border-radius: 0.2rem;

}

footer {
  margin-top: 3rem;
}